<%- include('../assets/header.ejs', {title: 'First EJS Templating'}) %>



<!-- /#header -->
<%- include('./home-assets/header.ejs') %>

<!-- /.hero -->
<%- include('./home-assets/hero.ejs') %>

<main id="main" class="site-main">

  <!-- /.secton-about -->
  <%- include('./home-assets/main/about.ejs') %>

  <!-- /.secton-skills -->
  <%- include('./home-assets/main/skills.ejs') %>

  <!-- /.secton-services -->
  <%- include('./home-assets/main/services.ejs') %>

  <!-- /.secton-portfolio -->
  <%- include('./home-assets/main/protfolio.ejs') %>

  <!-- /.section-counters -->
  <%- include('./home-assets/main/counters.ejs') %>

  <!-- /.section-form -->
  <%- include('./home-assets/main/form.ejs') %>

</main><!-- /#main -->

<!-- /#footer -->
<%- include('./home-assets/footer.ejs') %>

<!-- Modals -->
<%- include('./home-assets/modals.ejs') %>


<%- include('../assets/footer.ejs') %>
  </body>
</html>
